body {
    background: url(http://i.imgur.com/2KJhaw0.jpg);
    background-size: cover;
}

#header {
    background: url(http://i.imgur.com/ckmDxgh.png);
}

#footer {
    background: url(http://i.imgur.com/ckmDxgh.png);
    font-family: Gudea, "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;
    color: #000;
}

#mainlogo {
    content: url('http://i.imgur.com/YLIntBg.png');
}

#logo {
    content: url('/../tenants/logo.png');
}

.apptext {
    color: #000;
    -webkit-text-stroke: .2px #fff;
    font-weight: 900;
    font-size: 13px;
    font-family: Gudea, "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;
}

#home .grid-container .free-wall .folder {
    background: #acacac;
    opacity: .93;
}

#home #app-tray #grid-pagination {
    color: #000;
}
#keystonelogo {
    -webkit-filter: invert(100%);
}
.banner {
    background: #ffffff;
    border: 1px solid #c3c3c3;
}