
.container{
  background: @kt-blue-23 url("../img/logo.png") bottom right no-repeat;
  height: 100%;
}

#home {
  .snap{
    background-color: @kt-black;
    border: 1px solid yellow;
    height: 90px;
    width: 90px;
    margin-bottom: 4px;
  }


  .icon{
    height: auto;
    width: 100%;
  }


  .carousel {
    height: 100%;
    margin-bottom: 30px;
    min-height: 550px;

    .carousel-indicators{
      bottom: -40px;
    }
  }

  .item{
    min-height: 400px;
    height: 100%;
  }

  .folder{
    background: @kt-blue-7e;
    border-radius: 8px;
    height: 100%;
    width: 100%;

    h2{
      margin: 0;
      text-align: center;
    }
  }

  .gridster{

    li{
      background: fade(@kt-blue-7e, 40%);
      list-style: none;
    }

  }

  .app-drawer{
    background: fade(@kt-black, 10%);
    border-radius: 4px;
    height: 106px;
    margin: 0 auto;
    width: 420px;

    li{
      margin: 2%;
    }

    .icon{
      width: 90px;
    }
  }
}